
h1 {
    color: rgb(0, 0, 0);
    font-family: 'Slabo 27px', serif;
    font-size: 60px;

}
#board {
    padding: 3em;
    text-align: center;


} 
 div.row > div {
    height: 100px;
    width: 100px;
    float: left;
    clear: right;
    font-size: 50px;
 }
.row {
    margin: 0 auto;
    width: 302px;
}

.top{
    border-bottom: 1px black solid;
   
}

.bottom {
   border-top: 1px black solid;

}

.left {
    border-right: 1px black solid;

}

.right {
    border-left: 1px black solid;

}

.top, .middle, .center, .bottom :hover {
    cursor: pointer;
    font-family: 'Slabo 27px', serif;

}

body {
    background-color: rgb(204, 80, 39);

} 

img {
    margin: 62px ;
    display: inline-block;
    inline-size: 200px;
}